<h1>Upcoming reminders</h1>

<table class='table table-bordered table-striped table-condensed'>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>For Whom</th>
    <th>Ondate</th>
    <th>Description</th>
    <th>Recommendations</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @reminders.each do |reminder| %>
    <td><%= reminder.user.email %></td>
    <td><%= reminder.name %></td>
        <td><%= reminder.for_whom %></td>
    <td><%= l reminder.ondate, :formats => :short %></td>
    <td><%= reminder.description %></td>
    <td><%= link_to 'Link', recommendations_path %></td>
    <td><%= link_to 'Show', reminder %></td>
    <td><%= link_to 'Edit', edit_reminder_path(reminder) %></td>
    <td><%= link_to 'Destroy', reminder, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h1>Past reminders</h1>

<table class='table table-bordered table-striped table-condensed'>
  <tr>
    <th>Name</th>
    <th>Ondate</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @past_reminders.each do |reminder| %>
    <td><%= reminder.name %></td>
    <td><%= l reminder.ondate, :formats => :long  %></td>
    <td><%= reminder.description %></td>
    <td><%= link_to 'Show', reminder %></td>
    <td><%= link_to 'Edit', edit_reminder_path(reminder) %></td>
    <td><%= link_to 'Destroy', reminder, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Reminder', new_reminder_path %>
