<!DOCTYPE html>
<html>
<head>
  <title>Gifting</title>
  <%= stylesheet_link_tag    "application", "bootstrap-responsive.css", "bootstrap.css", :media => "all" %>
  <%= javascript_include_tag "application","bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	

<div class='login well'>
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

 <div class='clear'></div>

 
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

 <div id='navig'>
	 	<div class='span8 offset2'>
	 		  <% if user_signed_in? %>
	 		<em><h1>Nav</h1></em>
	 		<ul class='nav nav-tabs'>
	 			<li class='dropdown'><a class='dropdown-toggle' data-toggle='dropdown' href=<%=products_path %>>My Products<b class='caret'></b></a>
	 				<ul class='dropdown-menu'>
	 					<li><a href='#'>action</a></li>
	 					<li><a href='#'>acd</a></li>
	 				</ul>
	 			</li>
	 			<li><%= link_to 'My Product Pecs', product_recs_path %></li>
	 			<li><%= link_to 'New Products', new_product_path %></li>
	 			<li><%= link_to 'New Productss Pec', new_product_rec_path %></li>
	 		</ul>	
	 		  <% end %>
	 	</div>

	 		
	 	<div class='span8 offset2'>
	 		<%= yield %>
	 	</div>
	 
 
 </div>	
  </br>
  </br>


</body>
</html>
