<!DOCTYPE html>
<html>
<head>
  <title>Gifting</title>
  <%= stylesheet_link_tag    "application", "bootstrap-responsive.css", "bootstrap.css", :media => "all" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <%= javascript_include_tag "application","bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class='container'>
	<div class='well height'>	
	
		<div class='homelogo'>
			<%= link_to image_tag('rails.png', :alt =>'logo'), products_path%>
		</div>
	
		<div class='header'<>
			<h1><em>Gifting</em></h1>
			<p>Never forget again</p>
		</div>
	
		<div class='login textright'>
		  <% if user_signed_in? %>
		    Signed in as <%= current_user.email %>. Not you?
		    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		  <% else %>
		    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
		  <% end %>
		</div>
	
	</div>
	
	<div><em>
		<% flash.each do |name, msg| %>
		  <%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %></em>
	</div>	
	
			
		<form class='form-search float'>
			<input type='text' class='input-medium search-query'>
			<button type='submit' class='btn'>Search</button>
		</form>
	
	
	<div class='container'>
		</br>
		<div class='span12'>
			<% if user_signed_in? %>
			<ul class='nav nav-tabs'>
				<li class='dropdown active'>
					<a href='#' class='dropdown-toggle' data-toggle='dropdown'>My Reminders<b class='caret'></b></a>				
					<ul class='dropdown-menu'>
				 		<li><%= link_to 'Reminders', reminders_path %></li>
						<li><%= link_to 'New Reminders', new_reminder_path %></li>
					</ul>
				</li>	
				<li class='dropdown active'>
					<a href='#' class='dropdown-toggle' data-toggle='dropdown'>My Product<b class='caret'></b></a>				
					<ul class='dropdown-menu'>
						<li><%= link_to 'All Products', products_path %></li>
						<li><%= link_to 'New', new_product_path %></li>
					</ul>
				</li>
				<li class='dropdown active'>
					<a href='#' class='dropdown-toggle' data-toggle='dropdown'>My Recs<b class='caret'></b></a>				
					<ul class='dropdown-menu'>
						<li><%= link_to 'My Recommendations', recommendations_path %></li>
						<li><%= link_to 'All Items', products_path %></li>
					</ul>
				</li>
			</ul>
			<% end %>
		</div>
		
		<div class='span12'>
			<%= yield %>
		</div>
	</div>
	
	<div class='footer'>
		<p>copyright ©2012</p>
	</div>
	
</div>


</body>
</html>
